version: '3.9'

services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env.prod # Переконайся, що файл існує!

  backend:
    build: ./backend
    # ВИПРАВЛЕННЯ 1: config замість core
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - ./backend/.env.prod
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist:/usr/share/nginx/html
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - backend



volumes:
  postgres_data:
  static_volume:
  media_volume: