@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
  .skeleton {
    @apply bg-slate-200 relative overflow-hidden rounded-none;
  }

  .skeleton::after {
    @apply absolute inset-0;
    content: "";
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.5s infinite;
    transform: translateX(-100%);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}